<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<appSettings>
    <add key="AppConfigLoc" value="C:\Users\n308810\Source\Workspaces\MRMD\RiskManagerV2\BTMU.Main\App.config" />
    <add key="OutputFolder" value="C:\Temp" />
    <add key="Namespace" value="BTMU.Volcker.BRL.DAL,BTMU.Volcker.BRL.DAL,BTMU.Volcker.BRL.DAL,BTMU.Volcker.BRL.DAL,BTMU.Volcker.BRL.DAL,BTMU.Volcker.BRL.DAL,BTMU.Volcker.BRL.DAL,BTMU.Volcker.BRL.DAL,BTMU.Volcker.BRL.DAL" />
</appSettings>
</configuration>